@page "/product-dashboard"
@namespace VanThiel.Infrastructure.Blazor.Pages

<PageTitle>Product Dashboard</PageTitle>
@if (Data is not null)
{

    <div class="grid" style="width: 100%; overflow-x:auto;">
        <FluentDataGrid Items="@Data" Pagination="@Pagination" Style="width: 1300px;" >
            <PropertyColumn Property="@(c => c.Name)" Sortable="true" Class="country-name" />
            <PropertyColumn Property="@(c => c.Category)" Sortable="true" Align="Align.End" />
            <PropertyColumn Property="@(c => c.Price)" Sortable="true" Align="Align.End" />
            <PropertyColumn Property="@(c => c.Discount)" Sortable="true" Align="Align.End" />
            <PropertyColumn Property="@(c => c.Instock)" Sortable="true" Align="Align.End" />
        </FluentDataGrid>
    </div>
}

@if (Pagination is not null)
{
    <div class="page-buttons">
        Page:
        @if (Pagination.TotalItemCount.HasValue)
        {
            for (var pageIndex = 0; pageIndex <= Pagination.LastPageIndex; pageIndex++)
            {
                var capturedIndex = pageIndex;
                <FluentButton @onclick="@(async () => await GoToPageAsync(capturedIndex))"
                              Appearance="@PageButtonAppearance(capturedIndex)"
                              aria-current="@AriaCurrentValue(capturedIndex)"
                              aria-label="@AriaLabel(capturedIndex + 1)">
                    @(capturedIndex + 1)
                </FluentButton>
            }
        }
    </div>
}